.tab-options {
    text-align: center;
    width: 100%;
    cursor: pointer;    
    padding: 8px;
    
    p{
        margin:0;
    }
    
    &.active{
        background-color: var(--white);
    }
}